<header>
    <h2>Sobre mí</h2>
    @if (user()) {
        <div>
            <img [src]="user().avatar_url" alt="Avatar" width="150">
            <p><strong>Nombre:</strong> {{ user().name }}</p>
            <p><strong>Usuario:</strong> {{ user().login }}</p>
            <p><strong>Repositorios:</strong> {{ user().public_repos }}</p>
            
        </div>
    }
</header>

<h3>Mi juego</h3>
<p>Mi juego se llama "Recorda la carta". Se trata de un juego de memoria donde el jugador debe encontrar pares de cartas coincidentes.
Se juega en un solo modo APT</p>

