<header>
    <h2>Sobre mí</h2>
    @if (user()) {
        <div>
            <img [src]="user().avatar_url" alt="Avatar" width="150">
            <p><strong>Nombre:</strong> {{ user().name }}</p>
            <p><strong>Usuario:</strong> {{ user().login }}</p>
            <p><strong>Repositorios:</strong> {{ user().public_repos }}</p>
            
        </div>
    }
</header>

<h3>Mi juego</h3>
<p>Mi juego propio será “Simon Digital”. El juego presenta una secuencia de colores que el jugador debe repetir. En cada nivel la secuencia aumenta,
    incrementando la dificultad. El puntaje final corresponde al nivel máximo alcanzado.</p>

